[submodule "deps/CodeTraverse"]
	path = deps/CodeTraverse
	url = https://github.com/cademtz/CodeTraverse.git
[submodule "deps/minilua"]
	path = deps/minilua
	url = https://github.com/edubart/minilua.git
	branch = main
